/* DASHBOARD */

.dashboard-container {
  margin: 2.67rem auto 5.33rem auto;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 108.8rem;
  height: auto; 
  color: rgb(248,244,232);
}

#header-container {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  text-align: center;
}

#header {
  font-size: 4rem;
  display: block;
}

#subheader {
  font-size: 1.75rem;
}

.icon-text {
  display: none;
}

.dashboard-top-text {
  font-size: 3rem;
  text-align: center;
}

.dashboard-top-text-info {
  font-size: 1.8rem;
  text-align: center;
}

.body {
  margin: 1.33rem auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 64rem;
  width: 56.67rem;
  height: 56.67rem;
}

.links-container {
  margin: 0 auto;
  padding: 0.33rem;
}

.dashboard-header {
  font-size: 1.8rem;
}

.dashboard-text {
  display: block;
  font-size: 1.4rem;
}

.dashboard-text-link {
  display: block;
  font-size: 1.4rem;
}

#video-icon {
  width: 15rem;
  height: auto;
  display: block;
  transition: transform 0.2s;
  position: relative;
  left: 21rem;
  top: 2rem;
}

#video-icon:hover {
  transform: scale(1.5);
}

#app-icon {
  width: 20rem;
  height: auto;
  display: block;
  transition: transform 0.2s;
  position: relative;
  left: -1rem;
  top: 1rem;
}

#app-icon:hover {
  transform: scale(1.5);
}

#entry-icon {
  width: 17rem;
  height: auto;
  display: block;
  transition: transform 0.2s;
  position: relative;
  left: 39.5rem;
  top: -15.5rem;
}

#entry-icon:hover {
  transform: scale(1.5);
}

#timer-icon {
  width: 19rem;
  height: auto;
  display: block;
  transition: transform 0.2s;
  position: relative;
  left: 7.5rem;
  top: -14.5rem;
}

#timer-icon:hover {
  transform: scale(1.5);
}

#info-icon {
  width: 15rem;
  height: auto;
  display: block;
  transition: transform 0.2s;
  position: relative;
  left: 33rem;
  top: -32rem;
}

#info-icon:hover {
  transform: scale(1.5);
}

.icon {
  cursor: pointer;
}

.app-text-container {
  text-align: center;
  position: relative;
  left: 0;
  top: -30rem;
}

.app-text {
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.815);
}

/* MOBILE */

@media (max-width: 900px) {
  .dashboard-container { 
    color: rgb(248,244,232);
    width: 90%;
    margin: 6rem auto;
  }
  
  .dashboard-top-text {
    font-size: 3rem;
  }
  
  .dashboard-top-text-info {
    font-size: 1.9rem;
  }
  
  .body {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    width: 100%;
    height: auto;
  }
  
  .links-container {
  }
  
  .dashboard-header {
    font-size: 1.8rem;
  }
  
  .dashboard-text {
    font-size: 1.4rem;
  }
  
  .dashboard-text-link {
    font-size: 1.4rem;
  }
  
  #video-icon {
    width: 15rem;
    height: auto;
    position: relative;
    left: 0;
    margin-bottom: 3rem;
  }

  #body-videos-link {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  
  #app-icon {
    width: 20rem;
    height: auto;
    position: relative;
    left: 0;
    margin-bottom: 2rem
  }

  #body-apps-link {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  
  #entry-icon {
    width: 17rem;
    height: auto;
    position: relative;
    left: 0;
    top: 2.5rem;
    margin-bottom: 2rem;
  }

  #body-entry-link {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
  #timer-icon {
    width: 19rem;
    height: auto;
    position: relative;
    left: 0;
    top: 3rem;
    margin-bottom: 2rem;
  }

  #body-timer-link {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  
  #info-icon {
    width: 15rem;
    height: auto;
    position: relative;
    left: 0;
    top: 1rem;
    margin-bottom: 2rem;
  }

  #body-info-link {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  
  .app-text-container {
    display: none;
  }

  .icon-text {
    display: block;
    font-size: 2rem;
    color: black;
    text-align: center;
    margin: 0 auto;
  }
}