/* REC APPS */

.rec-app-container {
  margin: 3.33rem auto;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rec-text {
  color: rgba(255, 255, 255, 1);
  font-size: 1.75rem;
  line-height: 3rem;
}

#apps-modal {
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
  width: 70%;
  height: 45rem;
  background: linear-gradient(25deg,
    rgba(0,0,0,0.3) 50%,
    rgba(0,0,0,0.2) 100%
  );
  border-radius: 10px;
}

.app-container {
  width: auto;
  height: 30rem;
  margin: 4rem auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.app-text {
  color: white;
  display: block;
  margin: 6rem auto 2rem  auto;
  text-align: left;
  width: 50%;
  font-size: 2rem;
}

.logo-img {
  transition: transform 0.2s;
}

.logo-img:hover {
  transform: scale(1.05);
}

.insight-img {
  width: 64rem;
  height: auto;
}

.headspace-img {
  width: 64rem;
  height: auto;
}

.stop-img {
  width: 64rem;
  height: auto;
}

.buddhify-img {
  width: 64rem;
  height: auto;
}

.ten-percent-img {
  width: 50rem;
  height: auto;
}

/* MOBILE */

@media (max-width: 900px) {
  .rec-app-container {
    display: block;
    width: 90%;
    margin: 6rem auto;
  }
  
  .rec-text {
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    line-height: 3rem;
  }

  #apps-modal {
    width: 100%;
    height: auto;
    padding-bottom: 0rem;
  }

  .app-container {
    width: 90%;
    margin-bottom: 10rem;
  }

  .app-text {
    font-size: 2rem;
    width: 90%;
  }

  #app-btns-container {
    display: block;
    margin: 4rem auto;
  }
  
  .logo-img {
    width: 100%;
    height: auto;
  }
}