body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

/*
rgb(83,95,45);
rgb(217,196,179);
rgb(161,177,130);
rgb(127,93,83);
*/

.test {
  color: rgb(83,95,45);
  color: rgb(217,196,179);
  color: rgb(248,244,232);
  color: rgb(161,177,130);
  color: rgb(127,93,83);
}

html {
  background-image: linear-gradient(25deg,
    rgba(83, 95, 45, 0.4),
    rgba(120, 131, 83, 0.4)),
    url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 15px;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.logout-btn-container {}

#logout-btn {
  font-size: 1.5rem;
  border: none;
  background-color: rgba(233, 233, 233, 0.6);
  position: absolute;
  right: 25px;
  top: 25px;
}

#logout-btn:hover {
  background-color: rgba(233, 233, 233, 0.95);
}

/* WELCOME */

.welcome-container {
  margin: 200px auto 0 auto;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(248,244,232);
  font-size: 7rem;
  width: 90%;
  height: auto;
}

.welcome-login-container {
  text-align: center;
}

.welcome-text {
  display: block;
}

.welcome-text-info {
  font-size: 2rem;
}

.login-btn-container {
  margin: 0 auto;
  text-align: center;
}

/* TERMS */

.terms-container {}

.terms-inner-container {}

.terms-text-container {}

.terms-header {}

.terms-text {}

.reject-btn {}

/* INFO */

.info-container {
  margin: 0 auto;
  height: auto;
  width: 47%;
  padding: 5px;
  background-color:  rgba(195,178,153, 0.7);
  border-radius: 5px;
  font-size: 1.2rem;
}

/* DASHBOARD */

.dashboard-container {
  margin: 40px auto 15px auto;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: auto; 
  color: rgb(248,244,232);
}

.dashboard-top-text {
  font-size: 3rem;
  text-align: center;
}

.dashboard-top-text-info {
  font-size: 1.8rem;
  text-align: center;
}

.body {
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 850px;
  height: 850px;
}

.links-container {
  margin: 0 auto;
  padding: 5px;
}

.dashboard-header {
  font-size: 1.8rem;
}

.dashboard-text {
  display: block;
  font-size: 1.4rem;
}

.dashboard-text-link {
  display: block;
  font-size: 1.4rem;
}

#video-icon {
  width: 25%;
  height: auto;
  display: block;
  transition: transform 0.2s;
}

#video-icon:hover {
  transform: scale(1.5);
}

#body-videos-link {
  position: relative;
  left: 322px;
  top: -110px;
}

#app-icon {
  width: 24%;
  height: auto;
  display: block;
  transition: transform 0.2s;
}

#app-icon:hover {
  transform: scale(1.5);
}

#body-apps-link {
  position: relative;
  left: 550px;
  top: 520px;
}

#entry-icon {
  width: 23%;
  height: auto;
  display: block;
  transition: transform 0.2s;
}

#entry-icon:hover {
  transform: scale(1.5);
}

#body-entry-link {
  position: relative;
  left: 1180px;
  top: 520px;
}

#timer-icon {
  width: 38%;
  height: auto;
  display: block;
  transition: transform 0.2s;
}

#timer-icon:hover {
  transform: scale(1.5);
}

#body-timer-link {
  position: relative;
  left: 680px;
  top: 830px;
}

#info-icon {
  width: 19%;
  height: auto;
  display: block;
  transition: transform 0.2s;
}

.body-info-link img:hover {
  transform: scale(1.5);
}

#body-info-link {
  position: relative;
  left: 1070px;
  top: 850px;
}

.icon {
  cursor: pointer;
}

/* REC VIDEOS */

.rec-videos-container {}

.video-text {}

.video {}

/* REC APPS */

.rec-app-container {}

.rec-text {}



/* ENTRY PAGE */

.entry-container {}

.form-container {}

.entry-form {}

.entry-input {}

.submit-btn {}
